<ion-header>
  <ion-toolbar>
    <ion-title>Computer Project III</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]=" credentials" (ngSubmit)="login()">
      <ion-item fill = "solid" class = "ion-margin-bottom">
          <ion-input type ="email" placeholder ="Email" formControlName="email"></ion-input>
          <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">"Email is invalid"</ion-note>
      </ion-item>

      <ion-item fill = "solid" class = "ion-margin-bottom">
        <ion-input type ="password" placeholder ="Password" formControlName="password"></ion-input>
        <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">"Please enter a password"</ion-note>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!credentials.valid">Login</ion-button>
    <ion-button expand="full" type="button" (click)="register()">Sign Up</ion-button>

  </form>
</ion-content>
