ion-avatar{
  width: 150px;
  height: 150px;
}
.preview{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.fail{
  width: 150px;
  height: 150px;
  border-radius: 40%;
  background: #d3d0d0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

