<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-card>
    <div class="preview">
      <ion-avatar (click)="changeImage()">
        <img *ngIf="profile?.imageUrl; else placeholder_avatar;" [src]="profile.imageUrl"/>
        <ng-template #placeholder_avatar>
          <div class="fail"><p>Seleccione Avatar</p></div>
        </ng-template>
      </ion-avatar>
    </div>
    
  </ion-card>
  
  
</ion-content>
